body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0%;
}

.outer-container{
    border: 2px solid #bec4ee;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(160, 182, 178);
    width: 85%;
    margin: auto;
    box-shadow: 0 1px 8px;
}

.inner-container {
    border: 2px solid #bec4ee;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(160, 182, 178);
    max-width: 850px;
    margin: auto;
    box-shadow: 0 1px 8px;
}

.outer-container {
    border: 2px soid #4444;
}

#mainHeading {
    font-style: normal;
    text-align: center;
    color: #262222;
}

label {
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: larger;
}

input,
select,
textarea {
    padding: 8px;
    width: 95%;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
}

textarea {
    resize: none;
}

input[type="radio"],
[type="checkbox"] {
    width: auto;
}

label[for="male"],
[for="female"],
[for="other"] {
    width: 100px;
    display: inline;
}

label[for="readAgree"] {
    display: inline;
}

footer {
    text-align: center;
    border: 2px;
    margin-top: 20px;
}

button {
    border-radius: 2px;
    cursor: pointer;
    margin: 2px  3px 10px;
    border: none;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
}

button[type="reset"] {
    background-color: #dc3545;
    color: white;
}

button[type=submit]:hover{
    background-color: #218838;
}
button[type=reset]:hover{
    background-color: #c81818;
}

