@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');


h3 {
    letter-spacing: 27px;
    background-color: rgb(143, 206, 245);
    text-transform: uppercase;
    padding: 2px;
    border: solid 2px black;
    word-break: break-all;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 3rem;
    line-height: 1.8;
    padding: 10px;
    text-align: center;
}

p {
    font-family: 'Baloo bhai 2', 'segoe ui';
    font-size: x-large;
    color: rgb(239, 62, 62);
    padding: 10px;
    font-weight: bold;
}

iframe{
display: block;
margin: 0 auto;
width: 100%;
height: 500px;
padding-top: 100px; 
}